<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div class="row">
  <div class="col-6 p-0">
    <div class="input-group">
      <input type="file" class="form-control" (change)="onFileSelected($event)">
      <button
        class="input-group-text btn"
        [class.btn-outline-primary]="!canUpload"
        [class.btn-primary]="canUpload"
        [disabled]="!canUpload"
        (click)="uploadFile()">Загрузить</button>
    </div>
  </div>
</div>
<p *ngIf="!files"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="files">
  <thead>
    <tr>
      <th>Name</th>
      <th>Upload date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of files">
      <td>{{ file.name }}</td>
      <td>{{ file.uploadDateTime }}</td>
    </tr>
  </tbody>
</table>
